# Игнорировать виртуальное окружение
venv/
env/
.venv/

# Игнорировать файлы PyCharm
.idea/
*.iml
*.ipr
*.iws

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать статические файлы (если они генерируются автоматически)
staticfiles/
mediafiles/

# Игнорировать файлы окружения
.env
.env.local
.env.*.local

# Игнорировать логи
*.log

# Игнорировать директорию миграций (если не хотите их коммитить)
migrations/

# Игнорировать директорию сборки
build/
dist/
*.egg-info/
